@import"https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,500;1,600&display=swap";


*,
:after,
:before {
  box-sizing: border-box
}

:root {
  --body-font: "Kanit", sans-serif;
  --primary-color: #ff6900;
  --secondary-color: #9747ff;
  --accent1: #fff;
  --accent2: #e6e6e6;
  --accent3: #ffce32;
  --accent4: #ffefd7;
  --accent5: #cdff00;
  --white: #ffffff;
  --white-neutral1: #0a090d;
  --white-neutral2: #2b2b2b;
  --white-neutral3: #222426;
  --white-neutral4: #1a1a1a;
  --black-neutral1: #ffffff;
  --black-neutral2: #f2f6f6;
  --black-neutral3: #b3b6b9;
  --black-neutral4: #f8f8f8
}

body {
  background-color: var(--black-neutral1);
  margin: 0;
  color: var(--white-neutral1);
  font-family: var(--body-font) !important;
  min-height: 100vh;

}

button {
  border: none;
  background: none
}

a {
  text-decoration: none
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p,
button,
input {
  margin: 0;
  padding: 0;
  border: 0
}

.display-4 {
  font-size: 56px;
  font-weight: 600;
  line-height: 120%
}

@media (max-width: 1400px) {
  .display-4 {
    font-size: 40px
  }
}

@media (max-width: 992px) {
  .display-4 {
    font-size: 32px
  }
}

@media (max-width: 768px) {
  .display-4 {
    font-size: 28px
  }
}

.heading-2 {
  font-size: 40px;
  font-weight: 600
}

@media (max-width: 1400px) {
  .heading-2 {
    font-size: 32px
  }
}

@media (max-width: 1200px) {
  .heading-2 {
    font-size: 28px
  }
}

@media (max-width: 992px) {
  .heading-2 {
    font-size: 26px
  }
}

@media (max-width: 768px) {
  .heading-2 {
    font-size: 24px
  }
}

.heading-3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 120%
}

@media (max-width: 1400px) {
  .heading-3 {
    font-size: 28px
  }
}

@media (max-width: 992px) {
  .heading-3 {
    font-size: 24px
  }
}

@media (max-width: 768px) {
  .heading-3 {
    font-size: 20px
  }
}

.heading-4 {
  font-size: 24px;
  font-weight: 500;
  line-height: 130%
}

@media (max-width: 1400px) {
  .heading-4 {
    font-size: 20px
  }
}

@media (max-width: 992px) {
  .heading-4 {
    font-size: 18px
  }
}

.textXL {
  font-size: 20px;
  line-height: 150%
}

@media (max-width: 1400px) {
  .textXL {
    font-size: 18px
  }
}

.textL {
  font-size: 18px;
  line-height: 150%
}

@media (max-width: 1400px) {
  .textL {
    font-size: 16px
  }
}

.textM {
  font-size: 16px;
  line-height: 150%
}

@media (max-width: 1400px) {
  .textM {
    font-size: 14px
  }
}

.font-medium {
  font-weight: 500
}

.font-thin {
  font-weight: 300
}

* {
  -webkit-tap-highlight-color: transparent
}

a {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-decoration: none;
  color: var(--white-neutral1)
}

span {
  display: inline-block
}

[theme=custom-light] .light-mood-image-shape {
  filter: brightness(0) !important
}

[theme=custom-light] .bg-light-white {
  border: 1px solid rgba(179, 182, 185, .2);
  background: #fff;
  box-shadow: 0 6px 30px #0000000a
}

[theme=custom-light] .light-theme-white-text {
  color: #fff !important
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: var(--black-neutral1)
}

::-webkit-scrollbar {
  width: 6px;
  background-color: var(--secondary-color)
}

.cart-scrollbar::-webkit-scrollbar {
  height: 3px
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 10px;
  width: 2px
}

.swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important
}

.m-t-120px {
  margin-top: 120px
}

@media (max-width: 1400px) {
  .m-t-120px {
    margin-top: 100px
  }
}

@media (max-width: 1200px) {
  .m-t-120px {
    margin-top: 80px
  }
}

@media (max-width: 992px) {
  .m-t-120px {
    margin-top: 60px
  }
}

.m-t-60px {
  margin-top: 60px
}

@media (max-width: 1400px) {
  .m-t-60px {
    margin-top: 40px
  }
}

@media (max-width: 1200px) {
  .m-t-60px {
    margin-top: 36px
  }
}

@media (max-width: 992px) {
  .m-t-60px {
    margin-top: 32px
  }
}

.m-t-40px {
  margin-top: 40px
}

@media (max-width: 1400px) {
  .m-t-40px {
    margin-top: 32px
  }
}

@media (max-width: 1200px) {
  .m-t-40px {
    margin-top: 28px
  }
}

@media (max-width: 992px) {
  .m-t-40px {
    margin-top: 24px
  }
}

.p-32px {
  padding: 32px
}

@media (max-width: 1400px) {
  .p-32px {
    padding: 24px
  }
}

.overflow-x-hidden {
  overflow-x: hidden
}

@keyframes scaleUp {
  50% {
    transform: scale(1.25)
  }
}

.scale-up-down {
  animation: scaleUp 2s linear infinite
}

@keyframes marqueeLeft {
  0% {
    left: 0
  }

  to {
    left: -100%
  }
}

.to-left {
  animation: marqueeLeft 25s linear infinite;
  white-space: nowrap
}

@keyframes marqueeRight {
  0% {
    right: 0
  }

  to {
    right: -100%
  }
}

@-webkit-keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0)
  }

  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@keyframes rotating {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0)
  }

  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite
}

.to-right {
  animation: marqueeRight 25s linear infinite
}

.button-back-to-home {
  padding: 12px 20px;
  background: var(--secondary-color);
  border-radius: 8px;
  color: var(--white-neutral1);
  display: flex;
  grid-area: 8px;
  align-items: center;
  width: fit-content;
  position: relative;
  z-index: 2;
  transition: all .3s ease;
  width: 100%;
}

.button-back-to-home:hover {
  scale: 1.02;
  color: var(--white-neutral1)
}


.header-title {
  border-radius: 16px;
  border: 1px solid var(--black-neutral3);
  text-align: center;
  background: linear-gradient(153deg, #ffffff1f -65.62%, #ffffff0a 83.28%);
  color: var(--white-neutral1);
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  padding: 20px
}

[theme=custom-light] .header-title {
  border: 1px solid rgba(179, 182, 185, .2) !important;
  background: #fff !important;
  box-shadow: 0 6px 30px #0000000a !important
}


@keyframes rotate {
  0% {
    transform: rotate(0)
  }

  to {
    transform: rotate(360deg)
  }
}

.link-primary {
  margin-top: 29px
}

@media (max-width: 1400px) {
  .link-primary {
    margin-top: 24px
  }
}


.profile-icons {
  display: flex;
  gap: 26px;
  justify-content: center;
  align-items: center
}

.profile-icons .profile-icon {
  padding: 30px;
  border-radius: 1000px;
  border: 1px solid var(--accent2);
  color: var(--white-neutral1);
  transition: all .3s ease-in-out;
  display: block
}

@media (max-width: 1400px) {
  .profile-icons .profile-icon {
    padding: 24px
  }
}

.profile-icons .profile-icon:hover {
  color: var(--secondary-color)
}

@media (max-width: 1400px) {
  .profile-icons .profile-icon svg {
    width: 30px;
    height: 30px
  }
}

.profile-icons .profile-icon .hover-icon {
  top: 0;
  left: 0;
  position: absolute;
  transition: all .3s cubic-bezier(.29, .12, .75, .4);
  opacity: 0
}

@media (max-width: 1400px) {
  .profile-icons .profile-icon .hover-icon {
    width: 80px;
    height: 80px
  }
}

.profile-icons .profile-icon:hover .hover-icon {
  opacity: 1;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg)
}

[theme=custom-light] .profile-icon {
  color: #6d6b6b
}

@media (min-width: 1400px) {
  .latest-card {
    padding: 32px 0 25px 16px
  }
}

@media (max-width: 1400px) {
  .latest-card {
    padding: 23px 0 22px 16px
  }
}

.latest-card .marquee-wrapper {
  padding-bottom: 28px
}

.latest-card .marquee-inner {
  position: absolute;
  display: inline-flex;
  width: 200%
}

.latest-card .marqee-list {
  float: left;
  list-style: none
}

.latest-card .marquee-item {
  float: left;
  transition: animation .2s ease-out
}

.latest-card .marquee-item .star-image {
  padding: 0 10px
}

.latest-work-slider-item .latest-work-slider-text {
  white-space: nowrap;
  text-transform: uppercase
}

.latest-work-light-text {
  color: #ffffffb3
}

[dir=rtl] .latest-work-slider-text {
  white-space: nowrap;
  text-transform: uppercase;
  direction: ltr
}

[theme=custom-light] .latest-work-light-text {
  color: #5b5a5a
}

.skills-card__slider-two {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 12px
}

.skills-card__slider-two__box {
  border: 1px solid var(--black-neutral2);
  padding: 14px;
  text-align: center;
  border-radius: 8px;
  transition: all .3s ease-in-out;
  color: var(--white-neutral3);
  margin: 0 8px
}

.skills-card__slider-two__box:hover {
  background: var(--secondary-color);
  color: var(--white-neutral1)
}

.landing-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

@media (max-width: 992px) {
  .landing-footer {
    flex-direction: column-reverse;
    gap: 12px
  }
}

.landing-footer__left {
  display: flex;
  align-items: center;
  gap: 12px
}

@media (max-width: 576px) {
  .landing-footer__left {
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px
  }
}

.landing-footer__design-text {
  border-left: 1px solid var(--white-neutral1) !important;
  padding-left: 12px
}

@media (max-width: 576px) {
  .landing-footer__design-text {
    border: none
  }
}

.landing-footer__design-text a {
  color: var(--secondary-color);
  font-weight: 500;
  transition: all .3s ease-in-out;
  text-decoration: underline
}

.landing-footer__design-text a:hover {
  color: var(--primary-color)
}

.landing-footer__menu {
  display: flex;
  align-items: center;
  gap: 49px;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0
}

@media (max-width: 768px) {
  .landing-footer__menu {
    gap: 24px
  }
}

.ellipse-top-left {
  width: 906px;
  height: 906px;
  border-radius: 906px;
  opacity: .1;
  background: var(--primary-color);
  filter: blur(200px);
  position: absolute;
  left: -500px;
  top: -500px;
  z-index: 0
}

@media (max-width: 768px) {
  .ellipse-top-left {
    width: 400px;
    height: 400px;
    left: 0;
    top: 0
  }
}

@media (max-width: 576px) {
  .ellipse-top-left {
    width: 300px;
    height: 300px;
    left: 0;
    top: 0
  }
}

.ellipse-bottom-right {
  overflow: hidden;
  width: 590px;
  height: 590px;
  border-radius: 590px;
  opacity: .08;
  background: var(--secondary-color);
  filter: blur(200px);
  position: absolute;
  right: 0;
  bottom: -100px
}

@media (max-width: 768px) {
  .ellipse-bottom-right {
    width: 400px;
    height: 400px;
    right: 0;
    bottom: 0
  }
}

@media (max-width: 576px) {
  .ellipse-bottom-right {
    width: 300px;
    height: 300px;
    right: 0;
    bottom: 0
  }
}

.card-style-two {
  position: relative;
  border-radius: 20px;
  border: 1px solid var(--black-neutral3);
  height: 100%;
  background: linear-gradient(153deg, #ffffff1f -65.62%, #ffffff0a 83.28%);
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px)
}

[theme=custom-light] .card-style-two {
  border: 1px solid rgba(179, 182, 185, .2);
  background: #fff;
  box-shadow: 0 6px 30px #0000000a
}

@media (max-width: 1400px) {
  .link-primary-two {
    margin-top: 24px
  }
}

.link-primary-two__content__text {
  font-weight: 500;
  line-height: 150%;
  text-transform: capitalize;
  color: var(--white-neutral1)
}

.link-primary-two__image svg {
  stroke: var(--white-neutral1);
  transition: all .3s ease-in-out
}

.link-primary-two__image svg:hover {
  stroke: var(--secondary-color)
}

@media (max-width: 1400px) {
  .link-primary-two__image svg {
    width: 40px;
    height: 32px
  }
}

[theme=custom-light] .link-primary-two__image svg {
  stroke: #6d6b6b
}

[theme=custom-light] .link-primary-two__image svg:hover {
  stroke: var(--secondary-color)
}

.landing-body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px
}

.landing-body__1st {
  grid-column-start: 1;
  grid-column-end: 5;
  display: flex;
  flex-direction: column;
  gap: 24px
}

@media (max-width: 1400px) {
  .landing-body__1st {
    gap: 16px
  }
}

@media (max-width: 992px) {
  .landing-body__1st {
    grid-column-end: 13
  }
}

.landing-body__1st .product-design {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative
}

.landing-body__1st .product-design__sub-title {
  font-weight: 500;
  line-height: 130%;
  color: var(--white-neutral1);
  opacity: .4
}

.landing-body__1st .product-design__title {
  font-weight: 600;
  line-height: 120%;
  color: var(--white-neutral1)
}

.landing-body__1st .product-design__shape {
  position: absolute;
  right: 20px;
  top: 20px
}

[dir=rtl] .landing-body__1st .product-design__shape {
  position: absolute;
  left: 20px;
  top: 20px;
  right: auto !important
}

.landing-body__1st .biography-style {
  padding: 65px 32px 32px
}

@media (max-width: 1400px) {
  .landing-body__1st .biography-style {
    padding: 32px 16px 16px
  }
}

.landing-body__1st .biography-style__bio-image {
  display: block;
  margin: 0 auto;
  border-radius: 100%
}

@media (max-width: 1400px) {
  .landing-body__1st .biography-style__bio-image {
    width: 180px;
    height: 180px
  }
}

.landing-body__1st .biography-style__bio-shape {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 275px;
  height: 275px
}

@media (max-width: 1400px) {
  .landing-body__1st .biography-style__bio-shape {
    width: 188px;
    height: 188px
  }
}

.landing-body__1st .biography-style__send-icon {
  color: var(--secondary-color);
  display: block;
  margin: 25px auto 0
}

.landing-body__1st .biography-style__button-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px
}

@media (max-width: 992px) {
  .landing-body__1st .biography-style__button-text {
    margin: 0 auto
  }
}

.landing-body__1st .biography-style__text {
  font-weight: 300
}

@media (max-width: 992px) {
  .landing-body__1st .biography-style__text {
    text-align: center;
    margin: 0 auto
  }
}

.landing-body__1st .biography-style__button {
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: 500;
  line-height: 150%;
  color: var(--white-neutral1);
  background: var(--secondary-color);
  margin-top: 3px
}

@media (max-width: 992px) {
  .landing-body__1st .biography-style__button {
    margin: 5px auto
  }
}

.landing-body__1st .biography-style__link {
  margin-top: 44px
}

.landing-body__2nd {
  grid-column-start: 5;
  grid-column-end: 13;
  display: flex;
  flex-direction: column;
  gap: 24px
}

@media (max-width: 992px) {
  .landing-body__2nd {
    grid-column-start: 1
  }
}

@media (max-width: 1400px) {
  .landing-body__2nd {
    gap: 16px
  }
}

.landing-body .second-up-section {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 24px
}

@media (max-width: 1400px) {
  .landing-body .second-up-section {
    gap: 16px
  }
}

.landing-body .second-up-section .all-projects-card-two {
  position: relative
}

.landing-body .second-up-section .all-projects-card-two__image {
  display: block;
  margin: 20px auto;
  border-radius: 8px
}

@media (max-width: 1400px) {
  .landing-body .second-up-section .all-projects-card-two__image {
    width: 170px;
    height: 100px
  }
}

.landing-body .all-project-and-skills {
  grid-column-start: 1;
  grid-column-end: 5;
  display: flex;
  flex-direction: column;
  gap: 24px
}

@media (max-width: 1400px) {
  .landing-body .all-project-and-skills {
    gap: 16px
  }
}

@media (max-width: 768px) {
  .landing-body .all-project-and-skills {
    grid-column-end: 13
  }
}

.landing-body .all-project-and-skills .skills-card-landing-two {
  padding-top: 24px;
  padding-bottom: 16px
}

@media (max-width: 1400px) {
  .landing-body .all-project-and-skills .skills-card-landing-two {
    padding-top: 24px;
    padding-bottom: 24px
  }
}

.landing-body .all-project-and-skills .skills-card-landing-two__title {
  padding-left: 32px;
  padding-right: 32px
}

@media (max-width: 1400px) {
  .landing-body .all-project-and-skills .skills-card-landing-two__title {
    padding-left: 16px;
    padding-right: 16px
  }
}

.landing-body .all-project-and-skills .skills-card-landing-two__slider-aria {
  margin-top: 12px
}

.landing-body .all-project-and-skills .skills-card-landing-two__slider-aria .marquee-wrapper {
  position: relative;
  overflow: hidden;
  white-space: nowrap
}

.landing-body .all-project-and-skills .skills-card-landing-two__slider-aria .text-slider {
  font-size: 18px;
  height: 40px;
  font-weight: 400
}

.landing-body .all-project-and-skills .skills-card-landing-two__slider-aria .marquee-inner {
  position: absolute;
  display: inline-flex;
  width: 200%
}

.landing-body .all-project-and-skills .skills-card-landing-two__slider-aria .marquee-list {
  float: left;
  width: 50%
}

.landing-body .all-project-and-skills .skills-card-landing-two__slider-aria .marquee-item {
  float: left;
  transition: animation .2s ease-out;
  margin-top: 5px
}

.landing-body .all-project-and-skills .skills-card-landing-two__slider-text {
  display: block;
  border: 1px solid var(--black-neutral3);
  padding: 6px 12px;
  font-size: 14px;
  color: #ffffffb3;
  text-align: center;
  border-radius: 8px;
  text-transform: capitalize
}

.landing-body .all-project-and-skills .skills-card-landing-two__slider-one {
  display: flex;
  gap: 8px;
  align-items: center
}

.landing-body .all-project-and-skills .skills-card-landing-two__slider-two {
  margin-top: 12px;
  display: flex;
  align-items: center;
  gap: 12px
}

.landing-body .all-project-and-skills .skills-card-landing-two__slider-two__box {
  display: block;
  border: 1px solid var(--black-neutral3);
  padding: 14px;
  text-align: center;
  border-radius: 8px;
  transition: all .3s ease-in-out
}

.landing-body .all-project-and-skills .skills-card-landing-two__slider-two__box svg {
  color: var(--secondary-color);
  transition: all .3s ease-in-out
}

.landing-body .all-project-and-skills .skills-card-landing-two__slider-two__box:hover {
  background: var(--secondary-color)
}

.landing-body .all-project-and-skills .skills-card-landing-two__slider-two__box:hover svg {
  transition: all .3s ease-in-out;
  color: var(--white-neutral1)
}

.landing-body .all-project-and-skills .skills-card-landing-two .marquee-wrapper-icon-slider {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  height: 80px
}

.landing-body .all-project-and-skills .skills-card-landing-two .marquee-wrapper-icon-slider .marquee-inner {
  position: absolute;
  display: inline-flex;
  width: 200%
}

.landing-body .all-project-and-skills .skills-card-landing-two .marquee-wrapper-icon-slider .marquee-item {
  float: left;
  transition: animation .2s ease-out;
  margin-top: 17px
}

.landing-body .latest-works-and-others {
  grid-column-start: 5;
  grid-column-end: 9;
  display: flex;
  flex-direction: column;
  gap: 24px
}

@media (max-width: 768px) {
  .landing-body .latest-works-and-others {
    grid-column-start: 1;
    grid-column-end: 13
  }
}

@media (max-width: 1400px) {
  .landing-body .latest-works-and-others {
    gap: 16px
  }
}

.landing-body .latest-works-and-others .latest-slider-two {
  padding-top: 20px
}

@media (max-width: 1400px) {
  .landing-body .latest-works-and-others .latest-slider-two {
    padding-top: 20px
  }
}

@media (max-width: 992px) {
  .landing-body .latest-works-and-others .latest-slider-two {
    padding-top: 20px
  }
}

@media (max-width: 768px) {
  .landing-body .latest-works-and-others .latest-slider-two {
    padding-top: 12px
  }
}

.landing-body .latest-works-and-others .latest-card-landing-two {
  padding: 0 0 0 16px;
  position: relative
}

.landing-body .latest-works-and-others .latest-card-landing-two .latest-card-slider {
  margin: auto 0
}

.landing-body .latest-works-and-others .latest-card-landing-two .latest-work-slider-item {
  margin-top: 50px;
  margin-left: 16px
}

@media (max-width: 1400px) {
  .landing-body .latest-works-and-others .latest-card-landing-two .latest-work-slider-item {
    margin-top: 40px
  }
}

@media (max-width: 768px) {
  .landing-body .latest-works-and-others .latest-card-landing-two .latest-work-slider-item {
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 20px o
  }
}

.landing-body .latest-works-and-others .experience-and-profile {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px
}

@media (max-width: 1400px) {
  .landing-body .latest-works-and-others .experience-and-profile {
    gap: 16px
  }
}

.landing-body .latest-works-and-others .experience-and-profile .experience {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  gap: 24px
}

@media (max-width: 1400px) {
  .landing-body .latest-works-and-others .experience-and-profile .experience {
    gap: 16px
  }
}

@media (max-width: 576px) {
  .landing-body .latest-works-and-others .experience-and-profile .experience {
    grid-column-end: 5
  }
}

.landing-body .latest-works-and-others .experience-and-profile .experience__item {
  display: flex;
  flex-direction: column;
  gap: 8px
}

.landing-body .latest-works-and-others .experience-and-profile .experience__item-number {
  color: var(--white-neutral1);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center
}

.landing-body .latest-works-and-others .experience-and-profile .experience__item-text {
  text-align: center;
  color: var(--white-neutral1);
  opacity: .6
}

.landing-body .latest-works-and-others .experience-and-profile .profile {
  grid-column-start: 3;
  grid-column-end: 5;
  display: flex;
  flex-direction: column;
  align-items: center
}

@media (max-width: 576px) {
  .landing-body .latest-works-and-others .experience-and-profile .profile {
    grid-column-start: 1;
    grid-column-end: 5;
    flex-direction: row
  }
}

@media (max-width: 1400px) {
  .landing-body {
    gap: 16px;
  }
}

.landing-body .second-down-section {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 24px
}

@media (max-width: 1400px) {
  .landing-body .second-down-section {
    gap: 16px
  }
}

.landing-body .second-down-section .all-service {
  grid-column-start: 1;
  grid-column-end: 3;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 77px;
  padding: 24px 20px 24px 24px
}

@media (max-width: 1400px) {
  .landing-body .second-down-section .all-service {
    grid-column-end: 4
  }
}

@media (max-width: 1400px) {
  .landing-body .second-down-section .all-service {
    gap: 70px
  }
}

@media (max-width: 576px) {
  .landing-body .second-down-section .all-service {
    grid-column-end: 9
  }
}

.landing-body .second-down-section .get-in-touch {
  grid-column-start: 3;
  grid-column-end: 9;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 77px;
  padding: 24px 20px 24px 24px
}

@media (max-width: 1400px) {
  .landing-body .second-down-section .get-in-touch {
    grid-column-start: 4;
    grid-column-end: 9
  }
}

@media (max-width: 1400px) {
  .landing-body .second-down-section .get-in-touch {
    gap: 70px
  }
}

@media (max-width: 576px) {
  .landing-body .second-down-section .get-in-touch {
    grid-column-start: 1;
    grid-column-end: 9
  }
}

.landing-body .second-down-section .get-in-touch .shape {
  position: absolute;
  right: 20px;
  top: 17px
}

.landing-body .second-down-section .blogs {
  grid-column-start: 7;
  grid-column-end: 9;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 77px;
  padding: 24px 20px 24px 24px
}

@media (max-width: 1400px) {
  .landing-body .second-down-section .blogs {
    gap: 70px
  }
}

@media (max-width: 576px) {
  .landing-body .second-down-section .blogs {
    grid-column-start: 1;
    grid-column-end: 9
  }
}

.landing-body .second-down-section .blogs .shape {
  position: absolute;
  right: 24px;
  top: 0
}

[dir=ltr] .all-projects-card-two__image-star {
  position: absolute;
  right: 20px;
  top: 20px
}

[dir=rtl] .all-projects-card-two__image-star {
  position: absolute;
  left: 20px;
  top: 20px
}

[dir=ltr] .shape-service {
  position: absolute;
  right: 0;
  top: 0
}

[dir=rtl] .shape-service {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(-90deg)
}

[dir=ltr] .shape-blog {
  position: absolute;
  right: 24px;
  top: 0
}

[dir=rtl] .shape-blog {
  position: absolute;
  left: 24px;
  top: 0
}

[dir=ltr] .shape-get-touch {
  position: absolute;
  right: 20px;
  top: 17px
}

[dir=rtl] .shape-get-touch {
  position: absolute;
  left: 20px;
  top: 17px;
  transform: rotate(-90deg)
}

[theme=custom-light] .biography-style__button {
  color: #fff
}

.about-top-left-element {
  overflow: hidden;
  width: 906px;
  height: 906px;
  border-radius: 906px;
  opacity: .1;
  background: var(--primary-color);
  filter: blur(200px);
  position: absolute;
  left: -450px;
  top: -450px
}

@media (max-width: 768px) {
  .about-top-left-element {
    width: 400px;
    height: 400px;
    right: 0;
    bottom: 0
  }
}

@media (max-width: 576px) {
  .about-top-left-element {
    width: 300px;
    height: 300px;
    right: 0;
    bottom: 0
  }
}

.about-card {
  position: relative;
  border-radius: 20px;
  height: 100%;
  border: 1px solid var(--black-neutral3);
  background: #22242666
}

[theme=custom-light] .about-card {
  background: var(--black-neutral1);
  border-color: #2224261a
}

.about-body {
  display: flex;
  flex-direction: column;
  gap: 24px
}

@media (max-width: 1400px) {
  .about-body {
    gap: 20px
  }
}

@media (max-width: 1200px) {
  .about-body {
    gap: 18px
  }
}

@media (max-width: 992px) {
  .about-body {
    gap: 16px
  }
}

.about-body__1st-row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px
}

@media (max-width: 1400px) {
  .about-body__1st-row {
    gap: 20px
  }
}

@media (max-width: 1200px) {
  .about-body__1st-row {
    gap: 18px
  }
}

@media (max-width: 992px) {
  .about-body__1st-row {
    gap: 16px
  }
}

.about-body__1st-row .card-hello {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 9;
  padding: 60px 112px 60px 60px
}

@media (max-width: 1400px) {
  .about-body__1st-row .card-hello {
    padding: 24px
  }
}

@media (max-width: 992px) {
  .about-body__1st-row .card-hello {
    grid-column-start: 1;
    grid-column-end: 13
  }
}

@media (max-width: 576px) {
  .about-body__1st-row .card-hello {
    text-align: center
  }
}

.about-body__1st-row .card-hello p {
  font-weight: 300;
  line-height: 150%;
  margin-top: 24px;
  opacity: .7
}

.about-body__1st-row .card-profile-image {
  grid-column-start: 9;
  grid-column-end: 13;
  padding: 34px 72px
}

@media (max-width: 1400px) {
  .about-body__1st-row .card-profile-image {
    padding: 32px
  }
}

@media (max-width: 992px) {
  .about-body__1st-row .card-profile-image {
    grid-column-start: 1;
    grid-row-start: 1
  }
}

.about-body__1st-row .card-profile-image__image-container {
  position: relative;
  width: fit-content;
  margin: 0 auto
}

.about-body__1st-row .card-profile-image__image-container .profile-image {
  border-radius: 100%;
  margin: 0 auto
}

@media (max-width: 1400px) {
  .about-body__1st-row .card-profile-image__image-container .profile-image {
    width: 200px;
    height: 200px
  }
}

.about-body__1st-row .card-profile-image__image-container .profile-shape {
  position: absolute;
  top: -6px;
  left: -6px
}

@media (max-width: 1400px) {
  .about-body__1st-row .card-profile-image__image-container .profile-shape {
    width: 210px;
    height: 210px
  }
}

.about-body__2nd-row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px
}

@media (max-width: 1400px) {
  .about-body__2nd-row {
    gap: 20px
  }
}

@media (max-width: 1200px) {
  .about-body__2nd-row {
    gap: 18px
  }
}

@media (max-width: 992px) {
  .about-body__2nd-row {
    gap: 16px
  }
}

.about-body__2nd-row .my-experience {
  grid-column-start: 1;
  grid-column-end: 5
}

@media (max-width: 1400px) {
  .about-body__2nd-row .my-experience {
    grid-column-start: 1;
    grid-column-end: 9
  }
}

@media (max-width: 768px) {
  .about-body__2nd-row .my-experience {
    grid-column-start: 1;
    grid-column-end: 13
  }
}

.about-body__2nd-row .my-experience__content {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px
}

@media (max-width: 1400px) {
  .about-body__2nd-row .my-experience__content {
    gap: 20px
  }
}

@media (max-width: 1200px) {
  .about-body__2nd-row .my-experience__content {
    gap: 18px
  }
}

@media (max-width: 992px) {
  .about-body__2nd-row .my-experience__content {
    gap: 16px
  }
}

.about-body__2nd-row .my-experience__content-item {
  display: flex;
  gap: 8px;
  align-items: center
}

.about-body__2nd-row .my-experience__content-item p {
  font-weight: 300;
  line-height: 150%;
  color: var(--white-neutral1);
  opacity: .7
}

.about-body__2nd-row .my-experience__content-item .dash {
  width: 16px;
  height: 1px;
  background: var(--white-neutral1);
  opacity: .7;
  max-width: auto 0
}

.about-body__2nd-row .download-icon {
  padding: 8px;
  border: 1px solid var(--secondary-color);
  border-radius: 100%;
  cursor: pointer;
  transition: all .3s ease-in-out
}

.about-body__2nd-row .download-icon:hover {
  background: var(--secondary-color)
}

.about-body__2nd-row .what-i-do {
  position: relative;
  grid-column-start: 5;
  grid-column-end: 8
}

@media (max-width: 1400px) {
  .about-body__2nd-row .what-i-do {
    grid-column-start: 9;
    grid-column-end: 13
  }
}

@media (max-width: 768px) {
  .about-body__2nd-row .what-i-do {
    grid-column-start: 1;
    grid-column-end: 13
  }
}

.about-body__2nd-row .what-i-do__content {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px
}

.about-body__2nd-row .what-i-do__content-item {
  display: flex;
  gap: 8px;
  align-items: center
}

.about-body__2nd-row .what-i-do__content-item p {
  font-weight: 300;
  line-height: 150%;
  color: var(--white-neutral1);
  opacity: .7
}

.about-body__2nd-row .what-i-do__content-item .dash {
  width: 16px;
  height: 1px;
  background: var(--white-neutral1);
  opacity: .7;
  max-width: auto 0
}

.about-body__2nd-row .experience-in-number {
  padding: 40px 73px 40px 48px;
  grid-column-start: 8;
  grid-column-end: 13;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 32px
}

@media (max-width: 1400px) {
  .about-body__2nd-row .experience-in-number {
    padding: 23px 32px 32px;
    grid-column-start: 1;
    grid-column-end: 13;
    flex-direction: row
  }
}

@media (max-width: 390px) {
  .about-body__2nd-row .experience-in-number {
    text-align: center;
    justify-content: center
  }
}

.about-body__2nd-row .experience-in-number__item {
  display: flex;
  gap: 8px;
  flex-direction: column
}

.about-body__2nd-row .experience-in-number__item-number {
  display: flex;
  align-items: center;
  justify-content: center
}

.about-body__2nd-row .experience-in-number__item-text {
  font-weight: 300;
  color: var(--white-neutral1);
  opacity: .7
}

.about-body__3rd-row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px
}

@media (max-width: 1400px) {
  .about-body__3rd-row {
    gap: 20px
  }
}

@media (max-width: 1200px) {
  .about-body__3rd-row {
    gap: 18px
  }
}

@media (max-width: 992px) {
  .about-body__3rd-row {
    gap: 16px
  }
}

[dir=ltr] .group-shape {
  position: absolute;
  top: 0;
  right: 24px
}

[dir=rtl] .group-shape {
  position: absolute;
  top: 0;
  left: 24px
}

[dir=ltr] .bottom-shape {
  position: absolute;
  bottom: 0;
  right: 0
}

[dir=rtl] .bottom-shape {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotate(90deg)
}

[dir=ltr] .about-body__1st-row .card-hello img {
  position: absolute;
  top: 20px;
  right: 20px
}

@media (max-width: 992px) {
  [dir=ltr] .about-body__1st-row .card-hello img {
    width: 70px;
    height: 70px
  }
}

@media (max-width: 576px) {
  [dir=ltr] .about-body__1st-row .card-hello img {
    width: 50px;
    height: 50px
  }
}

[dir=rtl] .about-body__1st-row .card-hello img {
  position: absolute;
  top: 20px;
  left: 20px;
  transform: rotate(-90deg)
}

@media (max-width: 992px) {
  [dir=rtl] .about-body__1st-row .card-hello img {
    width: 70px;
    height: 70px
  }
}

@media (max-width: 576px) {
  [dir=rtl] .about-body__1st-row .card-hello img {
    width: 50px;
    height: 50px
  }
}

[theme=custom-light] .card-style {
  border: 1px solid rgba(179, 182, 185, .2);
  background: #fff;
  box-shadow: 0 6px 30px #0000000a
}

.card-style {
  position: relative;
  border-radius: 16px;
  border: 1px solid var(--accent2);
  height: 100%;
  background: linear-gradient(153deg, #ffffff1f -65.62%, #ffffff0a 83.28%);
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px)
}

.image-body {
  position: relative;
  transition: all .9s ease-in-out;
  overflow: hidden;
  width: fit-content
}

.image-body__image {
  border-radius: 24px
}

.image-body .all-project-link {
  color: var(--white-neutral1);
  display: flex;
  justify-content: space-between;
  gap: 8px;
  align-items: flex-end;
  padding: 32px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
  transition: all .6s ease-in-out;
  visibility: hidden;
  background: linear-gradient(180deg, #8880, #1d1d1dcc 98.75%);
  border-radius: 24px
}

@media (max-width: 1400px) {
  .image-body .all-project-link {
    padding: 24px
  }
}

@media (max-width: 992px) {
  .image-body .all-project-link {
    padding: 16px
  }
}

.image-body .all-project-link__text-area {
  display: flex;
  flex-direction: column;
  gap: 12px
}

@media (max-width: 992px) {
  .image-body .all-project-link__text-area {
    gap: 4px
  }
}

.image-body .all-project-link__text-area .link-title {
  color: #fff !important
}

.image-body .all-project-link__text-area .link-text {
  font-weight: 300 !important;
  color: #fff
}

.image-body .all-project-link__image img {
  max-width: 100px;
  max-height: 60px;
  transition: all .3s ease-in-out
}

.image-body .all-project-link__image img:hover {
  transform: rotate(-10deg)
}

@media (max-width: 992px) {
  .image-body .all-project-link__image img {
    display: none
  }
}

.image-body:hover .all-project-link {
  opacity: 1;
  height: 100%;
  visibility: visible
}

.all-project-body {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  z-index: 2
}

@media (max-width: 1400px) {
  .all-project-body {
    gap: 20px
  }
}

@media (max-width: 1200px) {
  .all-project-body {
    gap: 18px
  }
}

@media (max-width: 992px) {
  .all-project-body {
    gap: 16px
  }
}

.all-project-body .all-project__1st-row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 24px
}

@media (max-width: 1400px) {
  .all-project-body .all-project__1st-row {
    gap: 20px
  }
}

@media (max-width: 1200px) {
  .all-project-body .all-project__1st-row {
    gap: 18px
  }
}

@media (max-width: 992px) {
  .all-project-body .all-project__1st-row {
    gap: 16px
  }
}

.all-project-body .all-project__1st-row-1st-column {
  grid-column-start: 1;
  grid-column-end: 7;
  display: flex;
  flex-direction: column;
  gap: 24px
}

@media (max-width: 1400px) {

  .all-project-body .all-project__1st-row-1st-column,
  .all-project-body .all-project__1st-row-2nd-column {
    gap: 20px
  }
}

@media (max-width: 1200px) {

  .all-project-body .all-project__1st-row-1st-column,
  .all-project-body .all-project__1st-row-2nd-column {
    gap: 18px
  }
}

@media (max-width: 992px) {

  .all-project-body .all-project__1st-row-1st-column,
  .all-project-body .all-project__1st-row-2nd-column {
    gap: 16px
  }
}

@media (max-width: 768px) {
  .all-project-body .all-project__1st-row-1st-column {
    grid-column-start: 1;
    grid-column-end: 13
  }
}

.all-project-body .all-project__1st-row-2nd-column {
  grid-column-start: 7;
  grid-column-end: 13;
  display: flex;
  flex-direction: column;
  gap: 24px
}

@media (max-width: 768px) {
  .all-project-body .all-project__1st-row-2nd-column {
    grid-column-start: 1;
    grid-column-end: 13
  }
}

.custom-btn {
  transition: all .4s
}

.kew-text {
  font-size: 16px;
  font-weight: 500;
  color: var(--white-neutral1);
  padding: 12px 24px;
  display: block;
  border-radius: 100px;
  background: var(--secondary-color);
  text-align: center;
  transition: all .4s
}

.service-card {
  border-radius: 20px;
  border: 1px solid var(--black-neutral3);
  background: #22242666;
  padding: 60px
}

@media (max-width: 1400px) {
  .service-card {
    padding: 40px
  }
}

@media (max-width: 992px) {
  .service-card {
    padding: 36px
  }
}

@media (max-width: 768px) {
  .service-card {
    padding: 32px
  }
}

@media (max-width: 576px) {
  .service-card {
    padding: 24px
  }
}

[theme=custom-light] .service-card {
  border: 1px solid rgba(179, 182, 185, .2);
  background: #fff !important;
  box-shadow: 0 6px 30px #0000000a;
  transition: all .3s ease-in-out
}

[theme=custom-light] .service-card:hover {
  border-color: var(--secondary-color)
}

.service-bottom-right {
  border-radius: 900px;
  width: 906px;
  height: 906px;
  opacity: .1;
  background: var(--secondary-color);
  filter: blur(200px);
  position: absolute;
  right: 0;
  bottom: -200px;
  overflow: hidden
}

@media (max-width: 768px) {
  .service-bottom-right {
    width: 400px;
    height: 400px;
    right: 0;
    bottom: 0
  }
}

@media (max-width: 576px) {
  .service-bottom-right {
    width: 300px;
    height: 300px;
    right: 0;
    bottom: 0
  }
}

.card-text-color {
  color: var(--white-neutral1);
  opacity: .8
}

.service-body {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 24px
}

@media (max-width: 1200px) {
  .service-body {
    gap: 16px
  }
}

.service-body .card-title {
  display: flex;
  flex-direction: column
}

.service-body .card-title .title-bottom {
  padding-left: 40px
}

.service-body__web-development {
  grid-column-start: 1;
  grid-column-end: 7;
  position: relative
}

@media (max-width: 992px) {
  .service-body__web-development {
    grid-column-start: 1;
    grid-column-end: 13
  }
}

[dir=ltr] .shape-image-developer {
  position: absolute;
  top: 40px;
  right: 40px
}

@media (max-width: 992px) {
  [dir=ltr] .shape-image-developer {
    top: 20px;
    right: 20px;
    width: 70px;
    height: 70px
  }
}

[dir=rtl] .shape-image-developer {
  position: absolute;
  top: 40px;
  left: 40px
}

@media (max-width: 992px) {
  [dir=rtl] .shape-image-developer {
    top: 20px;
    right: 20px;
    width: 70px;
    height: 70px
  }
}

[theme=custom-light] .service-body__web-development {
  background: #1a1a1a08
}

[theme=custom-light] .social-icon-section .social-icon {
  background: #1a1a1a08
}

.not-found-page {
  padding-top: 152px
}

@media (max-width: 1400px) {
  .not-found-page {
    padding-top: 120px
  }
}

@media (max-width: 922px) {
  .not-found-page {
    padding-top: 100px
  }
}

@media (max-width: 768px) {
  .not-found-page {
    padding-top: 80px
  }
}

.not-found-page .not-found-image {
  display: block;
  margin: 0 auto
}

.not-found-page .not-found-text {
  padding-top: 20px
}

.not-found-page .back-to-home {
  padding: 12px 32px;
  border-radius: 8px;
  background: var(--secondary-color);
  color: var(--white-neutral1);
  display: block;
  margin: 0 auto;
  width: fit-content
}

@media (max-width: 992px) {
  .not-found-page .back-to-home {
    padding: 8px 24px
  }
}

[theme=custom-light] .back-to-home {
  color: #fff
}

.loader-container {
  width: 100%;
  height: 100vh;
  position: relative
}

.loader {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border-top: 4px solid var(--secondary-color);
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: absolute;
  top: calc(50% - 120px);
  left: calc(50% - 120px)
}

.loader:after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border-left: 4px solid var(--primary-color);
  border-bottom: 4px solid transparent;
  animation: rotation .5s linear infinite reverse
}

@keyframes rotation {
  0% {
    transform: rotate(0)
  }

  to {
    transform: rotate(360deg)
  }
}

#preloader {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center
}

.custom-preloader {
  min-width: 10px;
  min-height: 10px;
  background: linear-gradient(153deg, #ffffff42 -65.62%, #ffffff2b 83.28%);
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
  animation: vow 2s cubic-bezier(.165, .84, .44, 1);
  border-radius: 90%
}

@keyframes vow {
  50% {
    min-width: 1000px;
    min-height: 1000px
  }

  to {
    min-width: 1500px;
    min-height: 1500px;
    opacity: 0
  }
}

.theme-modal-button {
  position: fixed;
  right: 0;
  top: 50%;
  background-color: #24202f;
  border-radius: 10px 0 0 10px;
  z-index: 4
}

.theme-modal-button button {
  background: transparent;
  padding: 5px
}

.theme-modal-button .setting-icon {
  background-color: transparent !important
}

.theme-modal {
  position: fixed;
  right: -350px;
  top: 57%;
  background-color: #24202f;
  border-radius: 10px 0 0 10px;
  width: 100px;
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  transition: all .7s ease-in-out;
  z-index: 4
}

.theme-modal__theme-dir {
  padding: 8px 12px;
  font-size: 20px;
  color: #fff;
  border-bottom: 2px solid var(--secondary-color);
  transition: all .3s ease-in-out;
  height: fit-content
}

.theme-modal__theme-dir:hover {
  background: var(--secondary-color)
}

.theme-modal__theme-dir:last-child {
  border-bottom: none
}

.modal-open {
  right: 0
}

.top-bar-container {
  position: fixed;
  top: 0;
  transition: all .9s;
  background: var(--accent1);
  width: calc(100% - 250px);
  left: 250px;
  z-index: 2
}

@media (max-width: 1400px) {
  .top-bar-container {
    width: 100%;
    left: 0
  }
}

.top-bar-container .top-bar-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 24px
}

.top-bar-container .top-bar-inner .menu-icon {
  padding: 18px;
  color: var(--white-neutral3)
}

@media (min-width: 1400px) {
  .top-bar-container .top-bar-inner .menu-icon {
    visibility: hidden
  }
}

.top-bar-container .top-bar-inner .user-icon {
  padding: 18px;
  color: var(--white-neutral3);
  background: var(--black-neutral2);
  border-radius: 100%;
  cursor: pointer;
  transition: all .3s ease-in-out
}

.top-bar-container .top-bar-inner .user-icon:hover {
  background: var(--secondary-color)
}

.top-bar-container .top-bar-inner .user-icon:hover svg {
  color: #fff
}

[theme=custom-light] .top-bar-container {
  background: #fff;
  box-shadow: #0000003d 0 3px 8px
}

.top-dropdown-container {
  position: absolute;
  width: 150px;
  top: 100px;
  right: 20px;
  z-index: 200000;
  background: var(--black-neutral3);
  box-shadow: 0 8px 16px #0003;
  max-height: 0;
  overflow: hidden;
  transition: max-height .4s cubic-bezier(.175, .885, .32, 1.275);
  border-radius: 12px
}

[theme=custom-light] .top-dropdown-container {
  background: #fff
}

.top-dropdown-container.active {
  max-height: 200px
}

.top-dropdown-option {
  display: flex;
  align-items: center;
  gap: 12px;
  transition: all .3s ease-in-out
}

.top-dropdown-option:hover {
  color: #fff
}

.inner-content {
  transition: all .9s;
  background: var(--accent1);
  margin: 124px 24px 24px 274px;
  border: 1px solid var(--black-neutral3);
  background: var(--black-neutral4);
  padding: 60px
}

@media (max-width: 1400px) {
  .inner-content {
    margin-left: 0;
    margin-right: 0
  }
}

@media (max-width: 992px) {
  .inner-content {
    padding: 24px
  }
}

@media (max-width: 576px) {
  .inner-content {
    padding: 16px
  }
}

@media (max-width: 400px) {
  .inner-content {
    padding: 8px
  }
}

[theme=custom-light] .inner-content {
  border: 1px solid rgba(179, 182, 185, .2);
  background: #fff;
  box-shadow: 0 6px 30px #0000000a
}

.sidebar-containe {
  background: var(--black-neutral4);
  width: 250px;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  transition: all .7s;
  overflow-y: scroll;
  z-index: 4
}

.sidebar-containe::-webkit-scrollbar {
  display: none
}

@media (max-width: 1400px) {
  .sidebar-containe {
    transform: translate(-300px)
  }
}

.sidebar-containe .sidebar-logo {
  padding: 40px 85px 70px 57px
}

.sidebar-containe .sidebar-logo:hover {
  color: var(--secondary-color)
}

.sidebar-containe .sidebar-menus {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0
}

.sidebar-containe .sidebar-menus .menu-item {
  border-bottom: 1px solid #2b2b2b;
  padding-bottom: 20px;
  cursor: pointer
}

.sidebar-containe .sidebar-menus .single-menu {
  padding-left: 32px;
  padding-right: 32px;
  transition: all .3s ease-in-out
}

.sidebar-containe .sidebar-menus .single-menu:hover {
  color: var(--secondary-color)
}

.sidebar-containe .sidebar-menus .menu-link {
  display: flex;
  gap: 12px;
  align-items: center
}

[theme=custom-light] .sidebar-containe .sidebar-menus .menu-item {
  border-color: #b3b6b980 !important
}

[theme=custom-light] .sidebar-containe {
  background: #fff;
  box-shadow: #0000003d 0 3px 8px
}

@media (max-width: 1400px) {
  .sidebar-show {
    z-index: 3;
    transform: translate(0)
  }

  .sidebar-hide {
    z-index: 3;
    transform: translate(-300px)
  }
}

.sidebar-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background: #000;
  opacity: .5;
  transition: all .8s ease-in-out
}

.sidebar-overlay-show {
  transform: translate(0)
}

.sidebar-overlay-hide {
  transform: translate(-100%)
}

.sidebar-menu-modal {
  top: 0;
  padding: 24px 0;
  margin: 0 32px;
  background: var(--black-neutral3);
  display: flex;
  gap: 12px;
  align-items: center;
  flex-direction: column
}

.sidebar-menu-modal .sidebar-sub-item {
  border-bottom: 1px solid var(--black-neutral2);
  padding-bottom: 20px;
  width: 100%;
  text-align: center
}

[theme=custom-light] .sidebar-sub-item {
  border-color: #f9f8f8
}

[theme=custom-light] .sidebar-menu-modal {
  background: #bfbebe6b;
  box-shadow: 0 6px 30px #0000000a
}

.footer-start {
  direction: ltr
}

.footer-container {
  bottom: 0;
  transition: all .9s;
  background: var(--accent1);
  width: calc(100% - 250px);
  transform: translate(250px);
  text-align: center
}

@media (max-width: 1400px) {
  .footer-container {
    width: 100%;
    transform: translate(0)
  }
}

[theme=custom-light] .footer-container {
  background: #fff;
  box-shadow: #0000003d 0 3px 8px
}

.dashboard-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 36px 0
}

@media (max-width: 576px) {
  .dashboard-footer {
    flex-wrap: wrap
  }
}

.dashboard-footer__copyright-text {
  border-right: 1px solid #b3b6b9;
  padding-right: 12px
}

@media (max-width: 400px) {
  .dashboard-footer__copyright-text {
    border: none
  }
}

.footer-text-right {
  padding-left: 12px
}

.footer-text-right a {
  color: var(--secondary-color)
}


.light-text {
  font-size: 14px;
  font-weight: 300;
  color: var(--white-neutral3);
  margin-top: 12px
}


.text-secondary {
  color: var(--secondary-color) !important
}

.navbar-container {
  margin-top: 40px
}

.desktop-navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  border: 1px solid var(--black-neutral3);
  background: linear-gradient(153deg, #ffffff1f -65.62%, #ffffff0a 83.28%);
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  padding: 16px 24px
}

@media (max-width: 1200px) {
  .desktop-navbar-container {
    display: none
  }
}

[theme=custom-light] .desktop-navbar-container {
  background: #fff;
  border: 1px solid rgba(179, 182, 185, .2);
  box-shadow: 0 6px 30px #0000000a
}

.logo-main {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%
}

.logo-main:hover {
  color: #fff
}

.logo-main span {
  color: var(--secondary-color)
}

[theme=custom-light] .logo-main:hover {
  color: #1d1d1d
}

.desktop-menu-items {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  list-style: none;
  color: var(--white-neutral1) !important
}

@media (max-width: 1400px) {
  .desktop-menu-items {
    gap: 24px
  }
}

[theme=custom-light] .menu-item-text-white {
  color: #222426 !important;
  -webkit-text-fill-color: #222426 !important
}

#primary {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-left: 0 !important
}

#primary li .desktop-menu-item {
  white-space: nowrap;
  text-decoration: none;
  display: block;
  position: relative;
  z-index: 1;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right, var(--secondary-color), var(--secondary-color) 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  transition: all .3s ease-in-out
}

#primary li .desktop-menu-item:before {
  display: block;
  content: "";
  width: 0;
  height: 3px;
  left: 0;
  bottom: -3px;
  z-index: 0;
  position: absolute;
  background: var(--secondary-color);
  transition: all .3s ease-in-out
}

#primary li .desktop-menu-item:hover {
  background-position: 0%
}

#primary li .desktop-menu-item:hover:before {
  width: 100%
}

.menu-active {
  background-position: 0% !important
}

.menu-active:before {
  width: 100% !important
}

.navbar-hover-text {
  transition: all .3s ease-in-out
}

.navbar-hover-text:hover {
  color: var(--secondary-color)
}

.main-menu-dropdown {
  position: absolute;
  top: 40px;
  background: var(--black-neutral2);
  z-index: 3;
  display: flex;
  flex-direction: column;
  border-radius: 0 12px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all .4s ease-in-out;
  padding-bottom: 5px
}

[theme=custom-light] .main-menu-dropdown {
  background: #ffefd7
}

[theme=custom-light] .main-menu-dropdown {
  border-color: #a8a5a5e0;
  background: #ecececec;
  box-shadow: 0 6px 30px #0000000a
}

.menu-item-with-dropdown {
  transition: all .3s ease-in-out;
  cursor: pointer
}

.menu-item-with-dropdown .menu-arrow-icon {
  transition: all .3s ease-in-out;
  stroke-width: 3
}

.menu-item-with-dropdown:hover .menu-arrow-icon {
  transition: all .3s ease-in-out;
  transform: rotate(180deg);
  color: var(--secondary-color)
}

.menu-item-with-dropdown:hover .main-menu-dropdown {
  max-height: 400px;
  opacity: 1
}

.desktop-menu-dropdown-item {
  box-shadow: #0000001f 0 1px 3px, #0000003d 0 1px 2px;
  transition: all .3s ease-in-out;
  padding: 15px
}

.desktop-menu-dropdown-item:hover {
  border-color: transparent
}

.mobile-navbar-container {
  border-radius: 16px;
  border: 1px solid var(--black-neutral3);
  background: linear-gradient(153deg, #ffffff1f -65.62%, #ffffff0a 83.28%);
  color: var(--white-neutral1);
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between
}

@media (min-width: 1200px) {
  .mobile-navbar-container {
    display: none
  }
}

.hamburger {
  padding: 10px 0;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  background-color: transparent
}

.hamburger__container {
  width: 36px;
  height: 24px;
  position: relative
}

.hamburger:hover .hamburger__inner {
  transform: translate(-51px, 50%);
  opacity: 0
}

.hamburger:hover .hamburger__inner:before,
.hamburger:hover .hamburger__inner:after {
  transform: translate(102px);
  opacity: 0
}

.hamburger.is-active .hamburger__inner {
  display: none
}

.hamburger__inner {
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition: transform .4s ease, opacity .4s ease;
  top: 50%;
  transform: translate(5px, -50%);
  opacity: 1
}

.hamburger__inner:before,
.hamburger__inner:after {
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition: transform .4s ease, opacity .4s ease;
  content: "";
  opacity: 1;
  transform: translate(-5px)
}

.hamburger__inner:before {
  top: -13px
}

.hamburger__inner:after {
  top: 13px
}

.hamburger:hover .hamburger__hidden {
  opacity: 1;
  transform: translateY(-50%)
}

.hamburger:hover .hamburger__hidden:before,
.hamburger:hover .hamburger__hidden:after {
  opacity: 1;
  transform: translate(0)
}

.hamburger.is-active .hamburger__hidden {
  opacity: 1;
  transform: rotate(45deg)
}

.hamburger.is-active .hamburger__hidden:before {
  transform: translateY(13px) rotate(90deg);
  transform-origin: center
}

.hamburger.is-active .hamburger__hidden:after {
  transform: translateY(-13px) rotate(0);
  transform-origin: center
}

.hamburger__hidden {
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition: transform .4s ease, opacity .4s ease;
  background-color: var(--secondary-color);
  top: 50%;
  transform: translate(51px, -50%)
}

.hamburger__hidden:before,
.hamburger__hidden:after {
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition: transform .4s ease, opacity .4s ease;
  background-color: var(--secondary-color);
  content: "";
  transform: translate(102px)
}

.hamburger__hidden:before {
  top: -13px
}

.hamburger__hidden:after {
  top: 13px
}

[theme=custom-light] .hamburger__inner {
  background: var(--secondary-color)
}

[theme=custom-light] .hamburger__inner:before,
[theme=custom-light] .hamburger__inner:after {
  background: var(--secondary-color)
}

.mobile-sidebar-containe {
  background: var(--black-neutral4);
  width: 250px;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  transition: all .7s;
  overflow-y: scroll;
  z-index: 4;
  border-radius: 0 32px 32px 0;
  transform: translate(-300px)
}

.mobile-sidebar-containe::-webkit-scrollbar {
  display: none
}

.mobile-sidebar-containe .sidebar-logo {
  padding: 40px 85px 70px 57px
}

.mobile-sidebar-containe .sidebar-logo:hover {
  color: var(--secondary-color)
}

.mobile-sidebar-containe .mobile-sidebar-menus {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0
}

.mobile-sidebar-containe .mobile-sidebar-menus .mobile-menu-item {
  border-bottom: 1px solid #2b2b2b;
  padding-bottom: 20px;
  cursor: pointer
}

.mobile-sidebar-containe .mobile-sidebar-menus .mobile-single-menu {
  padding-left: 32px;
  padding-right: 32px;
  transition: all .3s ease-in-out
}

.mobile-sidebar-containe .mobile-sidebar-menus .mobile-single-menu:hover {
  color: var(--secondary-color)
}

.mobile-sidebar-containe .mobile-sidebar-menus .mobile-menu-link {
  display: flex;
  gap: 12px;
  align-items: center;
  font-size: 16px !important
}

[theme=custom-light] .mobile-menu-item {
  border-bottom: 1px solid rgba(54, 60, 66, .2) !important
}

[theme=custom-light] .mobile-sidebar-containe {
  background: #fff;
  box-shadow: #0000003d 0 3px 8px
}

@media (max-width: 1400px) {
  .mobile-sidebar-show {
    z-index: 3;
    transform: translate(0)
  }

  .mobile-sidebar-hide {
    z-index: 3;
    transform: translate(-300px)
  }
}

.logo-main-mobile {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  padding: 32px
}

.logo-main-mobile:hover {
  color: #fff
}

.logo-main-mobile span {
  color: var(--secondary-color)
}

[theme=custom-light] .logo-main-mobile:hover {
  color: #1d1d1d
}

.mobile-sidebar-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background: #000;
  opacity: .5;
  transition: all .8s ease-in-out
}

.mobile-sidebar-overlay-show {
  transform: translate(0)
}

.mobile-sidebar-overlay-hide {
  transform: translate(-100%)
}

.icon-normal {
  transition: all .3s ease-in-out
}

.icon-rotate {
  transition: all .3s ease-in-out;
  transform: rotate(180deg)
}


.mobile-sidebar-menu-modal {
  top: 0;
  padding: 24px 0;
  margin: 0 32px;
  background: var(--black-neutral3);
  display: flex;
  gap: 12px;
  align-items: center;
  flex-direction: column;
  border-radius: 0 20px
}

.mobile-sidebar-menu-modal .sub-item {
  border-bottom: 1px solid var(--black-neutral2);
  padding-bottom: 20px;
  width: 100%;
  text-align: center
}

[theme=custom-light] .mobile-sidebar-menu-modal {
  border: 1px solid rgba(179, 182, 185, .2);
  background: #ecececec;
  box-shadow: 0 6px 30px #0000000a
}

[theme=custom-light] .sub-item {
  border-color: #a8a5a5e0;
  background: #ecececec;
  box-shadow: 0 6px 30px #0000000a
}